._page_18rmy_1 {
  height: 100dvh;
  overflow: hidden;
  background: var(--color-bg);
  color: var(--color-front);
  font-size: var(--size-m-font);
  scrollbar-color: var(--color-middle) transparent;
  scrollbar-width: thin;
  font-family: var(--font-family);
}
._calendarContainer_mvolv_1 {
  overflow: auto;
  height: 100%;
}

._calendar_mvolv_1 {
  display: grid;
  grid-template-rows: calc(var(--size-row) * 2.5) 1fr;
  color: var(--color-front);
  max-width: calc(var(--size-row) * 7);
  margin-inline: auto;
}

._calendar_mvolv_1 > header {
    display: flex;

    justify-content: center;
    align-items: center;
    font-weight: 300;
  }

:is(._calendar_mvolv_1 > header) > [data-corvu-calendar-label] {
      font-size: var(--size-m-font);
      line-height: var(--size-m-font);
      font-family: var(--font-family);
      font-optical-sizing: auto;
      font-weight: 300;
    }

:is(._calendar_mvolv_1 > header) [data-corvu-calendar-nav] {
      border: none;
      background-color: transparent;
      padding: 5px;
      aspect-ratio: 1 / 1;
      height: 100%;
    }

:is(:is(._calendar_mvolv_1 > header) [data-corvu-calendar-nav]):focus-visible {
        outline: none;
        border: 2px solid var(--color-border-focus-visible);
      }

._calendar_mvolv_1 [data-corvu-calendar-name]:hover {
    background-color: var(--color-bg-hover);
  }

._calendar_mvolv_1 [data-corvu-calendar-table] {
    align-self: stretch;
    justify-self: stretch;
    border-collapse: collapse;
  }

._calendar_mvolv_1 th {
    opacity: 0.65;
    padding-bottom: calc(var(--margin) / 2);
    width: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: inherit;
    vertical-align: bottom;
    text-align: left;
    letter-spacing: 1px;
    padding-inline: calc(var(--margin) / 2);
  }

._calendar_mvolv_1 tr > span,._calendar_mvolv_1 tr > td {
    display: table-cell;
    height: var(--size-row);
  }

._calendar_mvolv_1 td {
    border-collapse: collapse;
    vertical-align: bottom;
    inset: -1px;
  }

._calendar_mvolv_1 [data-corvu-calendar-cell] {
    background-color: transparent;
    color: inherit;
    position: relative;
    margin: var(--margin);
    font-size: var(--size-xs-font);
    line-height: var(--size-xs-font);
    background-color: var(--color-bg-calendar);
  }

:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) > ._cell_mvolv_86 {
      border-right: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
      top: 0px;
      right: 0px;
      bottom: -1px;
      left: -1px;
      position: absolute;
      overflow: hidden;
    }

:is(:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) > ._cell_mvolv_86) > ._indicator_mvolv_96 {
        margin-inline: 0px;
        margin-bottom: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: var(--z-indicator);
        align-self: end;
        height: calc(var(--margin) / 2);
        position: absolute;
      }

:is(._calendar_mvolv_1 [data-corvu-calendar-cell])::before {
      counter-reset: variable var(--day-of-month);
      content: counter(variable);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: -1px;
      left: -1px;
      padding: var(--size-radius);
      font-size: var(--size-xs-font);
      line-height: var(--size-xs-font);
      color: var(--color-middle);
    }

:is(._calendar_mvolv_1 [data-corvu-calendar-cell]):first-of-type > ._cell_mvolv_86 {
      border: 1px solid var(--color-border);
    }

._today_mvolv_127:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) > ._cell_mvolv_86 {
      border: 2px solid var(--color-front);
      z-index: var(--z-border-today);
    }

._past_mvolv_132:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) ._indicator_mvolv_96 {
        filter: var(--filter-past-indicator);
      }

._past_mvolv_132:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) > ._cell_mvolv_86 {
        opacity: 0.5;
      }

[data-today]:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) {
      border: 2px solid var(--color-border-today);
    }

/**********************************************************************************/

/*                                                                                */

/*                                   Indicator                                    */

/*                                                                                */

/**********************************************************************************/

/* Round the top left radius of the first day of period/ovulation */

[data-start]:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) ._indicator_mvolv_96 {
      border-top-left-radius: var(--size-radius);
    }

/* Round the top right radius of the last day of period/ovulation */

[data-end]:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) ._indicator_mvolv_96 {
      border-top-right-radius: var(--size-radius);
    }

[data-phase='period']:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) ._indicator_mvolv_96 {
      background-color: var(--color-period);
    }

[data-phase='ovulation']:is(._calendar_mvolv_1 [data-corvu-calendar-cell]) ._indicator_mvolv_96 {
      background-color: var(--color-ovulation);
    }

/**********************************************************************************/

/*                                                                                */

/*                                   Top Radii                                    */

/*                                                                                */

/**********************************************************************************/

/* Round the first day of the first week */

:is(:is(._calendar_mvolv_1 tr:first-of-type) [data-corvu-calendar-cell]):first-of-type > ._cell_mvolv_86 {
        border-top-left-radius: var(--size-radius);
      }

/* Round the last day of the first week */

:is(:is(._calendar_mvolv_1 tr:first-of-type) [data-corvu-calendar-cell]):last-of-type > ._cell_mvolv_86 {
        border-top-right-radius: var(--size-radius);
      }

/* If the first week is incomplete, round the radius of the first day of the second week */

._calendar_mvolv_1:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:first-child)) tr:nth-child(2) [data-corvu-calendar-cell]:first-child > ._cell_mvolv_86 {
    border-top-left-radius: var(--size-radius);
  }

/**********************************************************************************/

/*                                                                                */

/*                                 Bottom Radii                                   */

/*                                                                                */

/**********************************************************************************/

/* Round the bottom left radius of the first cell of the last week */

:is(._calendar_mvolv_1 tr:last-of-type [data-corvu-calendar-cell]):first-of-type > ._cell_mvolv_86 {
      border-bottom-left-radius: var(--size-radius);
    }

/* Round the bottom right radius of the last cell of the last week */

:is(._calendar_mvolv_1 tr:last-of-type [data-corvu-calendar-cell]):last-of-type > ._cell_mvolv_86 {
      border-bottom-right-radius: var(--size-radius);
    }

[data-day]:is(._calendar_mvolv_1 tr:last-of-type [data-corvu-calendar-cell]):last-of-type ._indicator_mvolv_96 {
      border-bottom-right-radius: var(--size-radius);
    }

[data-day]:is(._calendar_mvolv_1 tr:last-of-type [data-corvu-calendar-cell]):first-child ._indicator_mvolv_96 {
      border-bottom-left-radius: calc(var(--size-radius) - 1px);
    }

/* If the last week is incomplete, round the radius of the last day of the last - 1 week */

._calendar_mvolv_1:not(:has(tr:last-of-type [data-corvu-calendar-cell][data-day]:last-child)) tr:nth-last-child(2) [data-corvu-calendar-cell]:last-child > ._cell_mvolv_86 {
    border-bottom-right-radius: var(--size-radius);
  }

/**********************************************************************************/

/*                                                                                */

/*                                   Border Tops                                  */

/*                                                                                */

/**********************************************************************************/

/* Add border-top to all first row borders */

._calendar_mvolv_1 tr:first-of-type [data-corvu-calendar-cell]:not(._today_mvolv_127) > ._cell_mvolv_86 {
    border-top: 1px solid var(--color-border);
  }

/* If the first week misses 2nd day, add border-top to 2nd day of second week */

._calendar_mvolv_1:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(2))) tr:nth-child(2) [data-corvu-calendar-cell]:nth-child(2) > ._cell_mvolv_86 {
    border-top: 1px solid var(--color-border);
  }

/* If the first week misses 3th day, add border-top to 3th day of second week */

._calendar_mvolv_1:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(3))) tr:nth-child(2) [data-corvu-calendar-cell]:nth-child(3) > ._cell_mvolv_86 {
    border-top: 1px solid var(--color-border);
  }

/* If the first week misses 4th day, add border-top to 4th day of second week */

._calendar_mvolv_1:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(4))) tr:nth-child(2) [data-corvu-calendar-cell]:nth-child(4) > ._cell_mvolv_86 {
    border-top: 1px solid var(--color-border);
  }

/* If the first week misses 5th day, add border-top to 5th day of second week */

._calendar_mvolv_1:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(5))) tr:nth-child(2) [data-corvu-calendar-cell]:nth-child(5) > ._cell_mvolv_86 {
    border-top: 1px solid var(--color-border);
  }

/* If the first week misses 6th day, add border-top to 6th day of second week */

._calendar_mvolv_1:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(6))) tr:nth-child(2) [data-corvu-calendar-cell]:nth-child(6) > ._cell_mvolv_86 {
    border-top: 1px solid var(--color-border);
  }
body {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;

  --scalar: 0.8;

  --z-menu-modal: 10;
  --z-navigation: 5;
  --z-indicator: 2;
  --z-border-today: 3;

  --size-xs-font: calc(12pt * var(--scalar));
  --size-s-font: calc(16pt * var(--scalar));
  --size-m-font: calc(18pt * var(--scalar));
  --size-l-font: calc(24pt * var(--scalar));
  --size-xl-font: calc(36pt * var(--scalar));
  --size-xxl-font: calc(48pt * var(--scalar));
  --size-xxxl-font: calc(64pt * var(--scalar));
  --size-radius: calc(10px * var(--scalar));
  --size-row: calc(50px * var(--scalar));

  --margin: 10px;
  --max-width: 450px;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  overscroll-behavior-y: none;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.125s;
}

._dark_19yvc_46 {
  --color-front: #b7c9e9;
  --color-middle: #aab8d2;
  --color-period: #d53f3f;
  --color-ovulation: #37b9f5;
  --color-border: #55546c;

  --color-bg: #070824;
  --color-bg-semi-transparent: #0b081685;
  --color-bg-transparent: #0b081600;
  --color-bg-today: hsl(0, 0%, 94%);
  --color-bg-calendar: transparent;
  --color-bg-gradient: #d9d9d9;

  --bg-modal-underlay: linear-gradient(
    to top,
    var(--color-bg) 50%,
    var(--color-bg-semi-transparent)
  );
  --filter-past-indicator: brightness(50%);

  --font-family: 'Inter Tight';
}

._light_19yvc_70 {
  --color-front: #212327;
  --color-middle: #32363e;
  --color-period: #d53f3f;
  --color-ovulation: #37b9f5;
  --color-border: #55546c;

  --color-bg: #d3d3d3;
  --color-bg-semi-transparent: #0b081685;
  --color-bg-transparent: #0b081600;
  --color-bg-today: hsl(0, 0%, 94%);
  --color-bg-calendar: transparent;
  --color-bg-gradient: #d9d9d9;

  --bg-modal-underlay: #d3d3d3;
  --filter-past-indicator: brightness(175%) saturate(50%);

  --font-family: 'Inter Tight';
}
._title_5ql1p_1 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-family: var(--font-family);
  font-optical-sizing: auto;
}
._overview_1bvch_1 {
  overflow: hidden;
  display: grid;
  grid-template-rows: calc(var(--size-row) * 2) 1fr var(--svg-height);
  height: 100%;
}

._overview_1bvch_1 section {
    position: relative;
  }

._gradient_1bvch_12 {
  box-shadow: 0px 0px 25px var(--color-bg);
}

._main_1bvch_16 {
  display: grid;
  align-content: center;
  font-size: var(--size-s-font);
}

._main_1bvch_16 > section {
    display: grid;
    padding-inline: calc(var(--margin) * 3);
    gap: var(--margin);
    font-size: var(--size-m-font);
    align-content: center;
    grid-template-columns: min(100%, var(--max-width));
    justify-content: center;
  }

:is(._main_1bvch_16 > section):first-child {
      border-bottom: 1px solid var(--color-border);
      padding-bottom: calc(var(--margin) * 3);
      margin-bottom: calc(var(--margin) * 3);
    }

:is(._main_1bvch_16 > section) > em {
      font-size: var(--size-xl-font);
      line-height: var(--size-xl-font);
      font-style: normal;
    }

:is(._main_1bvch_16 > section) > div {
      text-wrap: balance;
    }

._cycle-button_1bvch_48 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50vw;
  top: 80px;
  transform: translate(-50%, -50%);
  padding: 2px;
  display: grid;
  background: var(--color-period);
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 0px 50px var(--color-bg);
}

._text-path_1bvch_64 {
  font-size: var(--size-xs-font);
  letter-spacing: 6.5px;
  font-weight: 100;
  text-align: center;
  stroke: var(--color-front);
}

._statement_1bvch_72 > div {
    text-wrap: balance;
  }
._buttons_1dl42_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--margin);
  height: var(--size-row);
}
._modal_5dpsp_1 {
  position: fixed;
  z-index: var(--z-menu-modal);
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: min(100%, var(--max-width));
  justify-content: center;
  gap: var(--margin);
  margin: 0;
  box-sizing: border-box;
  padding: var(--margin);
  background-color: transparent;
  font-size: var(--size-s-font);
  align-content: flex-end;
  border: 0;
  transition: opacity 0.25s, translate 0.25s, overlay 0.25s allow-discrete,
    display 0.25s allow-discrete;
}

._modal_5dpsp_1 > * {
    transition: translate 0.25s;
  }

._modal_5dpsp_1[open] {
    translate: 0px;
    opacity: 1;
  }

@starting-style {

._modal_5dpsp_1[open] > * {
        translate: 0 1em;
    }
      }

@starting-style {

._modal_5dpsp_1[open] {
      opacity: 0;
  }
    }

._modal_5dpsp_1:not([open]) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

._modal_5dpsp_1:not([open]) > * {
      translate: 0 1em;
    }

._modal_5dpsp_1::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    background: var(--bg-modal-underlay);
    opacity: 0.9;
    z-index: -1;
    mix-blend-mode: darken;
  }

._modal_5dpsp_1 > button {
    height: var(--size-row);
    font-size: inherit;
  }

._binary-option_5dpsp_71 {
  width: 100%;
  position: relative;
  padding-block: calc(var(--margin) * 1.5);
}

._binary-option_5dpsp_71:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

._binary-option_5dpsp_71 > ._label-container_5dpsp_80 {
    z-index: 1;
    pointer-events: none;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

:is(._binary-option_5dpsp_71 > ._label-container_5dpsp_80) ._icon_5dpsp_91 {
      padding-inline: calc(var(--margin) * 3);
    }

:is(:is(._binary-option_5dpsp_71 > ._label-container_5dpsp_80) ._icon_5dpsp_91) > svg {
        stroke-width: 1px;
        stroke: var(--color-middle);
      }

._binary-option_5dpsp_71 > ._button-container_5dpsp_100 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

:is(._binary-option_5dpsp_71 > ._button-container_5dpsp_100) > button {
      background-color: transparent;
      border: none;
    }

._section_5dpsp_116,
._button_5dpsp_100 {
  background-color: var(--color-bg);
  color: var(--color-front);
  border: 1px solid var(--color-border);
  border-radius: var(--size-radius);
  font-size: var(--size-s-font);
  font-family: var(--font-family);
}

._section_5dpsp_116 {
  background-color: var(--color-bg);
  color: var(--color-front);
  border: 1px solid var(--color-border);
  border-radius: var(--size-radius);
}

._section_5dpsp_116 > header {
    padding-block: calc(var(--margin) * 2);
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
  }

:is(._section_5dpsp_116 > header) > h3 {
      text-align: center;
      font-weight: inherit;
      font-size: inherit;
      margin: 0px;
    }
._navigation-container_1gj74_1 {
  background: radial-gradient(ellipse at 50% 100%, var(--color-bg) 33%, transparent 75%);
  z-index: var(--z-navigation);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: var(--margin);
  display: grid;
  justify-content: center;
  grid-template-columns: min(100%, var(--max-width));
}
._navigation-container_1gj74_1 > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--color-border);
    font-size: var(--size-s-font);
    border: 1px solid var(--color-border);
    border-radius: var(--size-radius);
    font-weight: 300;
    color: var(--color-front);
    background-color: var(--color-bg);
    height: var(--size-row);
  }
:is(._navigation-container_1gj74_1 > nav) > * {
      border: none;
    }
:is(._navigation-container_1gj74_1 > nav) > *,:is(._navigation-container_1gj74_1 > nav) > * > a {
      border-radius: var(--size-radius);
    }
:is(._navigation-container_1gj74_1 > nav) > ._menuModalButton_1gj74_34 {
      display: grid;
      grid-template-columns: 1fr min-content;
      background-color: transparent;
      align-items: center;
      color: inherit;
      padding-inline: var(--margin);
    }
:is(._navigation-container_1gj74_1 > nav) > div {
      border: 1px solid transparent;
      transition: border 0.25s;
      margin: -1px;
    }
:is(:is(._navigation-container_1gj74_1 > nav) > div):has(a._active_1gj74_48) {
        border: 1px solid var(--color-front);
      }
:is(:is(._navigation-container_1gj74_1 > nav) > div) > a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
