._page_1nskw_1 {
  height: 100dvh;
  overflow: hidden;

  background: var(--color-bg);
  color: var(--color-front);
  font-size: var(--size-m-font);
  scrollbar-color: var(--color-middle) transparent;
  scrollbar-width: thin;
  font-family: var(--font-family);
}
._calendarContainer_1v42k_1 {
  overflow: auto;
  height: 100%;
}

._calendar_1v42k_1 {
  display: grid;
  grid-template-rows: calc(var(--size-row) * 3) 1fr;
  overflow: hidden;
  color: var(--color-front);
  padding-inline: calc(var(--margin) * 2);
  max-width: 450px;
  margin-inline: auto;

  & > header {
    display: flex;

    justify-content: center;
    align-items: center;
    font-weight: 300;

    & > [data-corvu-calendar-label] {
      font-size: var(--size-l-font);
      line-height: var(--size-l-font);
      font-family: var(--font-family);
      font-optical-sizing: auto;
      font-weight: 300;
    }

    & [data-corvu-calendar-nav] {
      border: none;
      background-color: transparent;
      padding: 5px;
      aspect-ratio: 1 / 1;
      height: 100%;

      &:focus-visible {
        outline: none;
        border: 2px solid var(--color-border-focus-visible);
      }
    }
  }

  & [data-corvu-calendar-name]:hover {
    background-color: var(--color-bg-hover);
  }

  & [data-corvu-calendar-table] {
    align-self: stretch;
    justify-self: stretch;
    margin-inline: 5px;
    border-collapse: collapse;
  }

  & td {
    border-collapse: collapse;
    vertical-align: bottom;
    inset: -1px;
  }

  & tr > span,
  & tr > td {
    display: table-cell;
    height: calc(var(--size-row) * 2);
  }

  & th {
    opacity: 0.65;
    padding-bottom: var(--margin);
    width: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: inherit;
    vertical-align: bottom;
    text-align: left;
    padding-inline: calc(var(--margin) / 2);
  }

  & ._indicator_1v42k_79 {
    margin-inline: -2px;
    margin-bottom: -1px;
    z-index: var(--z-indicator);
    align-self: end;
    height: var(--margin);
    position: relative;
  }

  & [data-corvu-calendar-cell] {
    background-color: transparent;
    color: inherit;
    position: relative;
    margin: var(--margin);
    font-size: var(--size-xs-font);
    line-height: var(--size-xs-font);
    background-color: var(--color-bg-calendar);

    &::before {
      counter-reset: variable var(--day-of-month);
      content: counter(variable);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: -1px;
      left: -1px;
      border-right: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
      padding: var(--margin);
      font-size: var(--size-xs-font);
      line-height: var(--size-xs-font);
      color: var(--color-middle);
    }

    &:first-of-type::before {
      border: 1px solid var(--color-border);
    }

    &._today_1v42k_117::before {
      border: 2px solid var(--color-front);
      z-index: var(--z-border-today);
    }

    &._past_1v42k_122 {
      & ._indicator_1v42k_79 {
        filter: var(--filter-past-indicator);
      }
      &::before {
        opacity: 0.5;
      }
    }

    &[data-today] {
      border: 2px solid var(--color-border-today);
    }

    /**********************************************************************************/
    /*                                                                                */
    /*                                   Indicator                                    */
    /*                                                                                */
    /**********************************************************************************/

    &:first-of-type ._indicator_1v42k_79 {
      margin-left: -1px;
    }

    &:last-of-type ._indicator_1v42k_79 {
      margin-right: 0px;
    }

    /* Round the top left radius of the first day of period/ovulation */
    &[data-start] ._indicator_1v42k_79 {
      border-top-left-radius: var(--size-radius);
      margin-left: -1px;
    }

    /* Round the top right radius of the last day of period/ovulation */
    &[data-end] ._indicator_1v42k_79 {
      border-top-right-radius: var(--size-radius);
      margin-right: 0px;
    }

    &[data-phase='period'] ._indicator_1v42k_79 {
      background-color: var(--color-period);
    }

    &[data-phase='ovulation'] ._indicator_1v42k_79 {
      background-color: var(--color-ovulation);
    }
  }

  /**********************************************************************************/
  /*                                                                                */
  /*                                   Top Radii                                    */
  /*                                                                                */
  /**********************************************************************************/

  & tr:first-of-type {
    & [data-corvu-calendar-cell] {
      /* Round the first day of the first week */
      &:first-of-type::before {
        border-top-left-radius: var(--size-radius);
      }
      /* Round the last day of the first week */
      &:last-of-type::before {
        border-top-right-radius: var(--size-radius);
      }
    }
  }

  /* If the first week is incomplete, round the radius of the first day of the second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:first-child))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:first-child::before {
    border-top-left-radius: var(--size-radius);
  }

  /**********************************************************************************/
  /*                                                                                */
  /*                                 Bottom Radii                                   */
  /*                                                                                */
  /**********************************************************************************/

  & tr:last-of-type [data-corvu-calendar-cell] {
    /* Round the bottom left radius of the first cell of the last week */
    &:first-of-type::before {
      border-bottom-left-radius: var(--size-radius);
    }

    /* Round the bottom right radius of the last cell of the last week */
    &:last-of-type::before {
      border-bottom-right-radius: var(--size-radius);
    }

    &[data-day]:last-of-type ._indicator_1v42k_79 {
      border-bottom-right-radius: var(--size-radius);
    }

    &[data-day]:first-child ._indicator_1v42k_79 {
      border-bottom-left-radius: calc(var(--size-radius) - 1px);
    }
  }

  /* If the last week is incomplete, round the radius of the last day of the last - 1 week */
  &:not(:has(tr:last-of-type [data-corvu-calendar-cell][data-day]:last-child))
    tr:nth-last-child(2)
    [data-corvu-calendar-cell]:last-child {
    & ._indicator_1v42k_79 {
      border-bottom-right-radius: calc(var(--size-radius) - 1px);
    }
    &::before {
      border-bottom-right-radius: var(--size-radius);
    }
  }

  /**********************************************************************************/
  /*                                                                                */
  /*                                   Border Tops                                  */
  /*                                                                                */
  /**********************************************************************************/

  /* Add border-top to all first row borders */
  & tr:first-of-type [data-corvu-calendar-cell]:not(._today_1v42k_117)::before {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 2nd day, add border-top to 2nd day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(2)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(2)::before {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 3th day, add border-top to 3th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(3)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(3)::before {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 4th day, add border-top to 4th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(4)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(4)::before {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 5th day, add border-top to 5th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(5)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(5)::before {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 6th day, add border-top to 6th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(6)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(6)::before {
    border-top: 1px solid var(--color-border);
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;

  --scalar: 0.8;

  --z-menu-modal: 10;
  --z-navigation: 5;
  --z-indicator: 2;
  --z-border-today: 3;

  --size-xs-font: calc(12pt * var(--scalar));
  --size-s-font: calc(16pt * var(--scalar));
  --size-m-font: calc(18pt * var(--scalar));
  --size-l-font: calc(24pt * var(--scalar));
  --size-xl-font: calc(36pt * var(--scalar));
  --size-xxl-font: calc(48pt * var(--scalar));
  --size-xxxl-font: calc(64pt * var(--scalar));
  --size-radius: calc(10px * var(--scalar));
  --size-row: calc(50px * var(--scalar));

  --margin: 10px;
  --max-width: 450px;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  overscroll-behavior-y: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.125s;
}

._dark_1lomq_40 {
  --color-front: #b7c9e9;
  --color-middle: #aab8d2;
  --color-period: #d53f3f;
  --color-ovulation: #37b9f5;
  --color-border: #55546c;

  --color-bg: #070824;
  --color-bg-semi-transparent: #0b081685;
  --color-bg-transparent: #0b081600;
  --color-bg-today: hsl(0, 0%, 94%);
  --color-bg-calendar: transparent;
  --color-bg-gradient: #d9d9d9;

  --bg-modal-underlay: linear-gradient(
    to top,
    var(--color-bg) 50%,
    var(--color-bg-semi-transparent)
  );
  --filter-past-indicator: brightness(50%);

  --font-family: 'Inter Tight';
}

._light_1lomq_64 {
  --color-front: #212327;
  --color-middle: #32363e;
  --color-period: #d53f3f;
  --color-ovulation: #37b9f5;
  --color-border: #55546c;

  --color-bg: #d3d3d3;
  --color-bg-semi-transparent: #0b081685;
  --color-bg-transparent: #0b081600;
  --color-bg-today: hsl(0, 0%, 94%);
  --color-bg-calendar: transparent;
  --color-bg-gradient: #d9d9d9;

  --bg-modal-underlay: #d3d3d3;
  --filter-past-indicator: brightness(175%) saturate(50%);

  --font-family: 'Inter Tight';
}
._title_5ql1p_1 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-family: var(--font-family);
  font-optical-sizing: auto;
}
._overview_6hm62_1 {
  overflow: hidden;
  display: grid;
  grid-template-rows: calc(var(--size-row) * 2) 1fr var(--svg-height);
  height: 100%;

  & section {
    position: relative;
  }
}

._gradient_6hm62_12 {
  box-shadow: 0px 0px 25px var(--color-bg);
}

._main_6hm62_16 {
  display: grid;
  align-content: center;

  font-size: var(--size-m-font);

  & > section {
    display: grid;
    padding-inline: calc(var(--margin) * 3);
    gap: var(--margin);
    font-size: var(--size-l-font);
    align-content: center;

    &:first-child {
      border-bottom: 1px solid var(--color-border);
      padding-bottom: calc(var(--margin) * 3);
      margin-bottom: calc(var(--margin) * 3);
    }

    & > em {
      font-size: var(--size-xxl-font);
      line-height: var(--size-xxl-font);
      font-style: normal;
    }

    & > div {
      width: 80%;
      text-wrap: balance;
    }
  }
}

._cycle-button_6hm62_48 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50vw;
  top: 40px;
  transform: translateX(-50%);
  padding: 2px;
  display: grid;
  background: var(--color-period);
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 0px 50px var(--color-bg);
}

._text-path_6hm62_64 {
  font-size: var(--size-s-font);
  letter-spacing: 6.5px;
  font-weight: 100;
  text-align: center;
  stroke: var(--color-front);
}

._statement_6hm62_72 {
  & > div {
    text-wrap: balance;
  }
}
._buttons_1dl42_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--margin);
  height: var(--size-row);
}
._modal_1hnn6_1 {
  position: fixed;
  z-index: var(--z-menu-modal);
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
  margin: 0;
  box-sizing: border-box;
  padding: var(--margin);
  background-color: transparent;
  font-size: var(--size-s-font);
  align-content: flex-end;
  border: 0;
  transition: opacity 0.25s, translate 0.25s, overlay 0.25s allow-discrete,
    display 0.25s allow-discrete;

  & > * {
    transition: translate 0.25s;
  }

  &[open] {
    translate: 0px;
    opacity: 1;

    & > * {
      @starting-style {
        translate: 0 1em;
      }
    }

    @starting-style {
      opacity: 0;
    }
  }

  &:not([open]) {
    display: none;
    opacity: 0;
    pointer-events: none;
    & > * {
      translate: 0 1em;
    }
  }

  &::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    background: var(--bg-modal-underlay);
    opacity: 0.9;
    z-index: -1;
    mix-blend-mode: darken;
  }

  & > button {
    height: var(--size-row);
    font-size: inherit;
  }
}

._binary-option_1hnn6_70 {
  width: 100%;
  position: relative;
  padding-block: calc(var(--margin) * 1.5);

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  & > ._label-container_1hnn6_79 {
    z-index: 1;
    pointer-events: none;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    & ._icon_1hnn6_90 {
      padding-inline: calc(var(--margin) * 3);
      & > svg {
        stroke-width: 1px;
        stroke: var(--color-middle);
      }
    }
  }

  & > ._button-container_1hnn6_99 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > button {
      background-color: transparent;
      border: none;
    }
  }
}

._section_1hnn6_115,
._button_1hnn6_99 {
  background-color: var(--color-bg);
  color: var(--color-front);
  border: 1px solid var(--color-border);
  border-radius: var(--size-radius);
  font-size: var(--size-s-font);
  font-family: var(--font-family);
}

._section_1hnn6_115 {
  background-color: var(--color-bg);
  color: var(--color-front);
  border: 1px solid var(--color-border);
  border-radius: var(--size-radius);

  & > header {
    padding-block: calc(var(--margin) * 2);
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);

    & > h3 {
      text-align: center;
      font-weight: inherit;
      font-size: inherit;
      margin: 0px;
    }
  }
}
._navigation-container_vahlv_1 {
  background: linear-gradient(to top, var(--color-bg) 50%, var(--color-bg-transparent));
  z-index: var(--z-navigation);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: var(--margin);

  & > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--color-border);
    font-size: var(--size-s-font);
    border: 1px solid var(--color-border);
    border-radius: var(--size-radius);
    font-weight: 300;
    color: var(--color-front);
    background-color: var(--color-bg);
    height: var(--size-row);

    & > * {
      border: none;
    }

    & > *,
    & > * > a {
      border-radius: var(--size-radius);
    }

    & > ._menu_vahlv_31 {
      display: grid;
      grid-template-columns: 1fr min-content;
      background-color: transparent;
      align-items: center;
      color: inherit;
      font-size: inherit;
      padding-inline: var(--margin);
    }

    & > div {
      border: 1px solid transparent;
      transition: border 0.25s;
      margin: -1px;

      &:has(a._active_vahlv_46) {
        border: 1px solid var(--color-front);
      }

      & > a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
