.page {
  display: grid;
  grid-template-rows: 1fr var(--height-row);
  height: 100dvh;
  overflow: hidden;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  & > a {
    text-decoration: none;
    font-weight: 300;
    color: var(--color-front);
  }
}
