.page {
  height: 100dvh;
  overflow: hidden;
  background: var(--color-bg);
  color: var(--color-front);
  font-size: var(--size-m-font);
  scrollbar-color: var(--color-middle) transparent;
  scrollbar-width: thin;
  font-family: var(--font-family);
}
