.calendar {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  font-style: normal;
  font-weight: 300;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > [data-corvu-calendar-label] {
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-family: 'Inter Tight', sans-serif;
      font-optical-sizing: auto;
    }

    & [data-corvu-calendar-nav] {
      border: none;
      background-color: transparent;
      padding: 5px;
      aspect-ratio: 1 / 1;
      height: 100%;

      &:focus-visible {
        outline: none;
        border: 2px solid var(--color-border-focus-visible);
      }
    }
  }

  & [data-corvu-calendar-name]:hover {
    background-color: var(--color-bg-hover);
  }

  & [data-corvu-calendar-table] {
    align-self: stretch;
    justify-self: stretch;
    margin-inline: 5px;
    border-collapse: collapse;
  }

  & td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  & [data-corvu-calendar-headcell] {
    opacity: 0.65;
    padding-bottom: 0.25rem;
    width: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  & [data-corvu-calendar-cell] {
    position: relative;
  }

  & [data-corvu-calendar-celltrigger] {
    position: absolute;
    inset: 0;
    border-width: 0px;
    border-radius: 0px;
    background-color: transparent;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: 'Space Mono', monospace;
  }

  & [data-corvu-calendar-celltrigger]:focus-visible {
    margin: -1px;
    outline: none;
    border: 1px solid var(--color-border-focus-visible);
  }

  & [data-corvu-calendar-celltrigger]:focus-visible {
    background-color: var(--color-bg-focus-visible);
  }

  & [data-corvu-calendar-celltrigger][data-selected] {
    background-color: var(--color-bg-selected);
  }

  & [data-corvu-calendar-celltrigger]:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  & [data-corvu-calendar-celltrigger][data-today] {
    background-color: var(--color-bg-today);
  }
}

.log {
  display: grid;
  grid-template-rows: 30px 1fr;

  & > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: 'Inter Tight', sans-serif;
  }

  & > textarea {
    margin-inline: 5px;
    margin-block-end: 5px;
    border-radius: 0px;
    padding: 5px;
    font-family: 'Space Mono', monospace;

    &:focus-visible {
      outline: none;
      border: 1px solid var(--color-border-focus-visible);
    }
  }
}
