.calendarContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.calendar {
  display: grid;
  grid-template-rows: var(--height-row) 1fr;
  height: 100%;
  overflow: hidden;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > [data-corvu-calendar-label] {
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-family: 'Inter Tight', sans-serif;
      font-optical-sizing: auto;
    }

    & [data-corvu-calendar-nav] {
      border: none;
      background-color: transparent;
      padding: 5px;
      aspect-ratio: 1 / 1;
      height: 100%;

      &:focus-visible {
        outline: none;
        border: 2px solid var(--color-border-focus-visible);
      }
    }
  }

  & [data-corvu-calendar-name]:hover {
    background-color: var(--color-bg-hover);
  }

  & [data-corvu-calendar-table] {
    align-self: stretch;
    justify-self: stretch;
    margin-inline: 5px;
    border-collapse: collapse;
  }

  & td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  & [data-corvu-calendar-headcell] {
    opacity: 0.65;
    padding-bottom: 0.25rem;
    width: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  & [data-corvu-calendar-cell] {
    position: relative;
  }

  & [data-corvu-calendar-celltrigger] {
    position: absolute;
    inset: 0;
    border-width: 0px;
    border-radius: 0px;
    background-color: transparent;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: 'Space Mono', monospace;
  }

  & [data-corvu-calendar-celltrigger]:focus-visible {
    margin: -1px;
    outline: none;
    border: 1px solid var(--color-border-focus-visible);
  }

  & [data-corvu-calendar-celltrigger]:focus-visible {
    background-color: var(--color-bg-focus-visible);
  }

  & [data-corvu-calendar-celltrigger][data-selected] {
    background-color: var(--color-bg-selected);
  }

  & [data-corvu-calendar-celltrigger]:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  & [data-corvu-calendar-celltrigger][data-today] {
    background-color: var(--color-bg-today);
  }
}

.log {
  display: grid;
  grid-template-rows: var(--height-row) 1fr;
  overflow: hidden;

  & > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: 'Inter Tight', sans-serif;
  }

  & > .textareaContainer {
    overflow-y: auto;
    box-sizing: border-box;
    margin-inline: var(--margin);
    border: 1px solid black;
    display: grid;

    & > textarea {
      --line-height: 21pt;
      --line-color: rgb(132, 132, 132);

      box-sizing: border-box;
      padding-block: 0px;
      padding-inline: var(--margin);
      border-radius: 0px;
      display: block;
      font-size: 12pt;
      line-height: var(--line-height);
      width: 100%;
      color: black;
      overflow: hidden;
      background-image: linear-gradient(
        to bottom,
        transparent,
        transparent calc(var(--line-height) - 1px),
        var(--line-color) 0
      );
      background-size: 100% var(--line-height);
      background-repeat: repeat-y;
      background-color: white;
      border: none;
      resize: none;
      font-family: 'Space Mono', monospace;
      scrollbar-gutter: stable both-edges;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
