.calendarContainer {
  overflow: auto;
  height: 100%;
}

.calendar {
  display: grid;
  grid-template-rows: calc(var(--size-row) * 2.5) 1fr;
  color: var(--color-front);
  max-width: calc(var(--size-row) * 7);
  margin-inline: auto;

  & > header {
    display: flex;

    justify-content: center;
    align-items: center;
    font-weight: 300;

    & > [data-corvu-calendar-label] {
      font-size: var(--size-m-font);
      line-height: var(--size-m-font);
      font-family: var(--font-family);
      font-optical-sizing: auto;
      font-weight: 300;
    }

    & [data-corvu-calendar-nav] {
      border: none;
      background-color: transparent;
      padding: 5px;
      aspect-ratio: 1 / 1;
      height: 100%;

      &:focus-visible {
        outline: none;
        border: 2px solid var(--color-border-focus-visible);
      }
    }
  }

  & [data-corvu-calendar-name]:hover {
    background-color: var(--color-bg-hover);
  }

  & [data-corvu-calendar-table] {
    align-self: stretch;
    justify-self: stretch;
    border-collapse: collapse;
  }

  & th {
    opacity: 0.65;
    padding-bottom: calc(var(--margin) / 2);
    width: 2rem;
    font-size: var(--size-xxs-font);
    line-height: 1rem;
    font-weight: inherit;
    vertical-align: bottom;
    text-align: left;
    letter-spacing: 1px;
    padding-inline: calc(var(--margin) / 2);
  }

  & tr > span,
  & tr > td {
    display: table-cell;
    height: var(--size-row);
  }

  & td {
    border-collapse: collapse;
    vertical-align: bottom;
    inset: -1px;
  }

  & [data-corvu-calendar-cell] {
    background-color: transparent;
    color: inherit;
    position: relative;
    margin: var(--margin);
    font-size: var(--size-xxs-font);
    line-height: var(--size-xxs-font);
    background-color: var(--color-bg-calendar);

    & > .cell {
      border-left: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
      top: 0px;
      right: 0px;
      bottom: -1px;
      left: -1px;
      position: absolute;
      overflow: hidden;

      & > .indicator {
        margin-inline: 0px;
        margin-bottom: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: var(--z-indicator);
        align-self: end;
        height: calc(var(--margin) / 2);
        position: absolute;
      }
    }

    &::before {
      counter-reset: variable var(--day-of-month);
      content: counter(variable);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: -1px;
      left: -1px;
      padding: var(--size-radius);
      font-size: var(--size-xxs-font);
      line-height: var(--size-xxs-font);
      color: var(--color-middle);
    }

    &:last-of-type > .cell {
      border-right: 1px solid var(--color-border);
    }

    &.today > .cell {
      border: 2px solid var(--color-front);
      z-index: var(--z-border-today);
    }

    &.past {
      &::before {
        opacity: 0.5;
      }
      & .indicator {
        filter: var(--filter-past-indicator);
      }
      & > .cell {
        border-top-color: var(--color-border-past) !important;
        border-left-color: var(--color-border-past) !important;
      }
    }

    &[data-today] {
      border: 2px solid var(--color-border-today);
    }

    /**********************************************************************************/
    /*                                                                                */
    /*                                   Indicator                                    */
    /*                                                                                */
    /**********************************************************************************/

    /* Round the top left radius of the first day of period/ovulation */
    &[data-start] .indicator {
      border-top-left-radius: var(--size-radius);
      margin-left: 0px;
    }

    /* Round the top right radius of the last day of period/ovulation */
    &[data-end] .indicator {
      border-top-right-radius: var(--size-radius);
      margin-right: 1px;
    }

    &[data-phase='period'] .indicator {
      background-color: var(--color-period);
    }

    &[data-phase='ovulation'] .indicator {
      background-color: var(--color-ovulation);
    }
  }

  /**********************************************************************************/
  /*                                                                                */
  /*                                   Top Radii                                    */
  /*                                                                                */
  /**********************************************************************************/

  & tr:first-of-type {
    & [data-corvu-calendar-cell] {
      /* Round the first day of the first week */
      &:first-of-type > .cell {
        border-top-left-radius: var(--size-radius);
      }
      /* Round the last day of the first week */
      &:last-of-type > .cell {
        border-top-right-radius: var(--size-radius);
      }
    }
  }

  /* If the first week is incomplete, round the radius of the first day of the second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:first-child))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:first-child
    > .cell {
    border-top-left-radius: var(--size-radius);
  }

  /**********************************************************************************/
  /*                                                                                */
  /*                                 Bottom Radii                                   */
  /*                                                                                */
  /**********************************************************************************/

  & tr:last-of-type [data-corvu-calendar-cell] {
    /* Round the bottom left radius of the first cell of the last week */
    &:first-of-type > .cell {
      border-bottom-left-radius: var(--size-radius);
    }

    /* Round the bottom right radius of the last cell of the last week */
    &:last-of-type > .cell {
      border-bottom-right-radius: var(--size-radius);
    }

    &[data-day]:last-of-type .indicator {
      border-bottom-right-radius: var(--size-radius);
    }

    &[data-day]:first-child .indicator {
      border-bottom-left-radius: calc(var(--size-radius) - 1px);
    }
  }

  /* If the last week is incomplete, round the radius of the last day of the last - 1 week */
  &:not(:has(tr:last-of-type [data-corvu-calendar-cell][data-day]:last-child))
    tr:nth-last-child(2)
    [data-corvu-calendar-cell]:last-child
    > .cell {
    border-bottom-right-radius: var(--size-radius);
  }

  /**********************************************************************************/
  /*                                                                                */
  /*                                   Border Tops                                  */
  /*                                                                                */
  /**********************************************************************************/

  /* Add border-top to all first row borders */
  & tr:first-of-type [data-corvu-calendar-cell]:not(.today) > .cell {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 1st day, add border-top to 1st day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(1)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(1)
    > .cell {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 2nd day, add border-top to 2nd day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(2)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(2)
    > .cell {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 3th day, add border-top to 3th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(3)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(3)
    > .cell {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 4th day, add border-top to 4th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(4)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(4)
    > .cell {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 5th day, add border-top to 5th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(5)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(5)
    > .cell {
    border-top: 1px solid var(--color-border);
  }

  /* If the first week misses 6th day, add border-top to 6th day of second week */
  &:not(:has(tr:first-of-type [data-corvu-calendar-cell][data-day]:nth-child(6)))
    tr:nth-child(2)
    [data-corvu-calendar-cell]:nth-child(6)
    > .cell {
    border-top: 1px solid var(--color-border);
  }
}
