.overview {
  overflow: hidden;
  display: grid;
  grid-template-rows: calc(var(--size-row) * 2) 1fr var(--svg-height);
  height: 100%;

  & section {
    position: relative;
  }
}

.gradient {
  box-shadow: 0px 0px 25px var(--color-bg);
}

.main {
  display: grid;
  align-content: center;
  font-size: var(--size-s-font);

  & > section {
    display: grid;
    padding-inline: calc(var(--margin) * 3);
    gap: var(--margin);
    font-size: var(--size-m-font);
    align-content: center;
    grid-template-columns: min(100%, var(--max-width));
    justify-content: center;

    &:first-child {
      border-bottom: 1px solid var(--color-border);
      padding-bottom: calc(var(--margin) * 3);
      margin-bottom: calc(var(--margin) * 3);
    }

    & > em {
      font-size: var(--size-xl-font);
      line-height: var(--size-xl-font);
      font-style: normal;
    }

    & > div {
      text-wrap: balance;
    }
  }
}

.cycle-button {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50vw;
  top: 80px;
  transform: translate(-50%, -50%);
  padding: 2px;
  display: grid;
  background: var(--color-period);
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 0px 50px var(--color-bg);
}

.text-path {
  font-size: var(--size-xs-font);
  letter-spacing: 6.5px;
  font-weight: 100;
  text-align: center;
  stroke-width: 0px;
}

.statement {
  & > div {
    text-wrap: balance;
  }
}
