.home {
  overflow: hidden;
  display: grid;
  grid-template-rows: calc(var(--size-row) * 2) 1fr calc(
      120px + var(--margin) * 2 + var(--size-row)
    );
  height: calc(100% - var(--size-row) + var(--margin) * 2);

  & section {
    position: relative;
  }
}

.timeline {
  position: relative;

  & > .gradient {
    box-shadow: 0px 0px 25px var(--color-bg);
    height: 100%;
    width: 100%;
  }

  & > .ruler {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: calc(var(--size-row) / 2);
    z-index: 1;

    & > div {
      width: 100%;

      &:not(:last-child) {
        border-left: 1px solid var(--color-border);
      }
    }
  }
}

.main {
  display: grid;
  align-content: center;
  font-size: var(--size-s-font);

  & > section {
    display: grid;
    padding-inline: calc(var(--margin) * 3);
    gap: var(--margin);
    font-size: var(--size-m-font);
    align-content: center;
    grid-template-columns: min(100%, var(--max-width));
    justify-content: center;

    &:first-child {
      border-bottom: 1px solid var(--color-border);
      padding-bottom: calc(var(--margin) * 3);
      margin-bottom: calc(var(--margin) * 3);
    }

    & > em {
      font-size: var(--size-xl-font);
      line-height: var(--size-xl-font);
      font-style: normal;
    }

    & > div {
      text-wrap: balance;
    }
  }
}

.text-path {
  font-size: var(--size-xs-font);
  letter-spacing: 6.5px;
  font-weight: 100;
  text-align: center;
  stroke-width: 0px;
  fill: var(--color-front);
}

.statement {
  & > div {
    text-wrap: balance;
  }
}

.cycle-button-container {
  width: 120px;
  height: 120px;
  transform: translate(-50%, 0%);
  left: 50%;
  position: relative;
  margin: 10px;
}

.cycle-button {
  position: absolute;
  width: calc(100% - var(--margin) * 8);
  height: calc(100% - var(--margin) * 8);
  margin: calc(var(--margin) * 4);
  border-radius: 50%;
  background: var(--color-period);
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 0px 10px var(--color-period);
}
