body {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 300;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
