.menu {
  position: fixed;
  z-index: var(--z-menu-modal);
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--margin);
  margin: 0;
  box-sizing: border-box;
  padding: var(--margin);
  background-color: transparent;
  font-size: var(--size-s-font);
  align-content: flex-end;

  &:not([open]) {
    display: none;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    background: linear-gradient(to top, var(--color-bg) 50%, var(--color-bg-semi-transparent));
    opacity: 0.9;
    z-index: -1;
    mix-blend-mode: darken;
  }

  & > section,
  & > button {
    background-color: var(--color-bg);
    color: var(--color-front);
    border: 1px solid var(--color-border);
    border-radius: var(--size-radius);

    & > header {
      padding-block: calc(var(--margin) * 2);
      display: grid;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--color-border);

      & > h3 {
        text-align: center;
        font-weight: inherit;
        font-size: inherit;
        margin: 0px;
      }
    }
  }

  & > button {
    height: var(--size-row);
    font-size: inherit;
  }
}

.binary-option {
  width: 100%;
  position: relative;
  padding-block: calc(var(--margin) * 1.5);

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  & > .label-container {
    z-index: 1;
    pointer-events: none;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    & .icon {
      padding-inline: calc(var(--margin) * 3);
      & > svg {
        stroke-width: 1px;
        stroke: var(--color-middle);
      }
    }
  }

  & > .button-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > button {
      background-color: transparent;
      border: none;
    }
  }
}
