.navigation-container {
  z-index: var(--z-navigation);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: var(--margin);
  display: grid;
  justify-content: center;
  grid-template-columns: min(100%, var(--max-width));

  & > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--color-border);
    font-size: var(--size-s-font);
    border: 1px solid var(--color-border);
    border-radius: var(--size-radius);
    font-weight: 300;
    color: var(--color-front);
    background-color: var(--color-bg);
    height: var(--size-row);

    & > * {
      border: none;
    }

    & > *,
    & > * > a {
      border-radius: var(--size-radius);
    }

    & > .menuModalButton {
      display: grid;
      grid-template-columns: 1fr min-content;
      background-color: transparent;
      align-items: center;
      color: inherit;
      padding-inline: var(--margin);
    }

    & > div {
      border: 1px solid transparent;
      transition: border 0.25s;
      margin: -1px;

      &:has(a.active) {
        border: 1px solid var(--color-front);
      }

      & > a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
