.settings {
  display: grid;
  grid-template-rows: var(--size-row) 1fr;
  padding-inline: var(--margin);
  grid-template-rows: var(--size-row) 1fr;

  & > header {
    display: grid;
    justify-content: center;
  }
}

.options {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  align-content: start;
  gap: calc(var(--margin) * 2);

  & > label {
    white-space: nowrap;
  }
}
