body {
  --z-menu-modal: 10;
  --z-navigation: 5;
  --z-indicator: 2;
  --z-border-today: 3;

  --size-xs-font: 12pt;
  --size-s-font: 16pt;
  --size-m-font: 18pt;
  --size-l-font: 24pt;
  --size-xl-font: 36pt;
  --size-xxl-font: 48pt;
  --size-xxxl-font: 64pt;
  --size-radius: 10px;
  --size-row: 50px;
  --margin: 10px;
}

.dark {
  --color-bg-hover: hsl(0, 0%, 89%);
  --color-bg-focus-visible: hsl(0, 0%, 95%);
  --color-bg-selected: hsl(0, 0%, 89%);
  --color-border-focus-visible: hsl(234, 100%, 50%);
  --color-bg-today: hsl(0, 0%, 94%);
  --color-bg-calendar: #0a0b1f;

  --color-bg: #0b0816;
  --color-bg-semi-transparent: #0b081685;
  --color-bg-transparent: #0b081600;

  --color-front: #dee6f5;
  --color-middle: #9ca5b7;
  --color-period: #fa4646;
  --color-ovulation: #37b9f5;
  --color-bg-gradient: #d9d9d9;
  --color-border: #55546c;

  background: var(--color-bg);
  color: var(--color-front);
  font-size: var(--size-m-font);
}

.title {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
}
