body {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 300;
  font-optical-sizing: auto;

  --scalar: 0.8;

  --z-menu-modal: 10;
  --z-navigation: 5;
  --z-indicator: 2;
  --z-border-today: 3;

  --size-xs-font: calc(12pt * var(--scalar));
  --size-s-font: calc(16pt * var(--scalar));
  --size-m-font: calc(18pt * var(--scalar));
  --size-l-font: calc(24pt * var(--scalar));
  --size-xl-font: calc(36pt * var(--scalar));
  --size-xxl-font: calc(48pt * var(--scalar));
  --size-xxxl-font: calc(64pt * var(--scalar));
  --size-radius: calc(10px * var(--scalar));
  --size-row: calc(50px * var(--scalar));

  --margin: 10px;
  --max-width: 450px;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  overscroll-behavior-y: none;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.125s;
}

.dark {
  --color-front: #b7c9e9;
  --color-middle: #aab8d2;
  --color-period: #d53f3f;
  --color-ovulation: #37b9f5;
  --color-border: #55546c;
  --color-border-past: #55546c7f;

  --color-bg: #070824;
  --color-bg-semi-transparent: #0b081685;
  --color-bg-transparent: #0b081600;
  --color-bg-today: hsl(0, 0%, 94%);
  --color-bg-calendar: transparent;
  --color-bg-gradient: #d9d9d9;

  --bg-modal-underlay: linear-gradient(
    to top,
    var(--color-bg) 50%,
    var(--color-bg-semi-transparent)
  );
  --filter-past-indicator: brightness(50%);

  --font-family: 'Inter Tight';
}

.light {
  --color-front: #212327;
  --color-middle: #32363e;
  --color-period: #d53f3f;
  --color-ovulation: #37b9f5;
  --color-border: #55546c;
  --color-border-past: #9695b17b;

  --color-bg: #d3d3d3;
  --color-bg-semi-transparent: #0b081685;
  --color-bg-transparent: #0b081600;
  --color-bg-today: hsl(0, 0%, 94%);
  --color-bg-calendar: transparent;
  --color-bg-gradient: #d9d9d9;

  --bg-modal-underlay: #d3d3d3;
  --filter-past-indicator: brightness(175%) saturate(50%);

  --font-family: 'Inter Tight';
}
